#!/usr/bin/env python
import os
import sys
import time
from typing import List

original_stdout = sys.stdout

class WrongAnswer(Exception):
    pass

def get_input(test: bool) -> List[str]:
    data = []
    filename = 'inputs/{{ day }}_test.txt' if test else 'inputs/{{ day }}.txt'
    with open(filename, 'r') as file:
        input_ = file.readlines()
        for line in input_:
            data.append(line[:-1])
    return data


def main(test: bool):
    data = get_input(test)

    sum1 = 0
    sum2 = 0

    sys.stdout = original_stdout  # enable print
    print('part1:', sum1)
    if sum1 not in [0, ]:
        raise WrongAnswer('part1')
    print('part2:', sum2)
    if sum2 not in [0, ]:
        raise WrongAnswer('part2')


if __name__ == '__main__':
    startTime = time.time()

    try:
        print('Test')
        main(True)
        print('real')
        sys.stdout = open(os.devnull, 'w')  # suppress test prints
        main(False)

    finally:
        executionTime = (time.time() - startTime)

        if executionTime < 60:
            print(f'Execution time: {round(executionTime * 1000, 3)}  ms')
        else:
            print(f'Execution time: {round(executionTime, 3)} s')
